.form{
	float:left;
	padding:10px;
	border:1px solid #065492;
	background:#0F294F;	
}
.form label{
	display:block;	
	float:left;
	color:#A8EEFF;
	font-weight: bold;
	padding:3px 10px 0 0;
}
.form-row{
	padding-bottom:10px;
	clear:left;
}
.form-row .text, .form-row .password{
	padding:3px;
	float:left;
	width:150px;
}
.form-row .select{
	float:left;
	padding:3px;
}
.form-row .select option{
	padding:1px 3px 0 3px;	
}
.form-row .select optgroup option{
	padding-left:15px;	
}
.form-row .date{
	padding:3px;	
}
.form-row .submit-button{
	background:url(../img/green-button.png) no-repeat -3px -44px;
	padding:0 0 0 3px;
	float:left;
}
.form-row .submit-button input{
	background:url(../img/green-button.png) no-repeat right -167px ;
	height:32px;
	padding:0 25px 0 10px;
	border:0px;
	cursor: pointer;
	color:#01FD83;
}
.form-row-submit{
	padding-bottom:0px;
	vertical-align: middle;
}
.form .error-message{
	color:red;
	text-align: right;
	padding-top:5px;
}

/************************ CUSTOM FORMS ***************************/
#UserLoginForm label{
	width:75px;
}
#UserLoginForm .error-message{
	text-align: left;	
}
#UserRegisterForm label{
	width:125px;
	text-align:right;	
}
#UserForgotPasswordForm label{
	width:75px;
	text-align:right;	
}
#ReplayUploadForm label{
	width:100px;
	text-align:right;	
}
#ReplayUploadForm{
	float:none;
}
#ReplayUploadForm .error-message{
	text-align: left;
	margin:0 0 0 110px;
}
#ReplayEditForm label{
	width:100px;
	text-align:right;	
}
#ReplayEditForm{
	float:none;
}
#ReplayEditForm .error-message{
	text-align: left;
	margin:0 0 0 110px;
}
#ReplayCommentForm{
	float:none;
	width:auto;
}
#ReplayCommentForm label{
	width:75px;
	text-align:right;
}
#ReplayCommentForm #form-row-cancel-reply{
	display:none;
}
#ArticleAddForm, #ArticleEditForm{
	float:none;
}
#ArticleAddForm label, #ArticleEditForm label{
	width:50px;
	text-align:right;	
}